*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Playfair Display', serif;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: salmon;
    color: white;

}

.logo{
    flex: 1;
}

ul{
    display: flex;
    list-style-type: none;
    flex: 1;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}
a:hover{
    border-bottom: 6px solid rgb(57 82 57);
}

main{
    display: flex;
    height: 100vh;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: #79ec79;
    flex: 1;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: flex-start;
    height: 100vh;
    background: lightskyblue;
    flex: 5;

}

.box, .Box{
    width: 150px;
    height: 150px;
    background-color: chocolate;
    color: white;
    text-align: center;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    font-family: 'Playfair Display', serif;
}
